.cv {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.cv h1 {
  text-align: center;
}

.cv h2 {
  margin-top: 20pt;
  text-align: center;
}

.cv p {
  font-size: large;
}

.cv ul {
  list-style: none;
  padding: 0;
  margin-bottom: 3pt;
}

.avatar {
  margin-top: 20pt;
  border-radius: 50%;
  width: 200pt;
  padding: 25pt;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] .avatar {
  margin-top: 20pt;
  border-radius: 50%;
  width: 200pt;
  padding: 25pt;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.links {
  margin-top: 20pt;
}

.links li {
  display: inline;
  margin: 10pt;
}

.icon {
  width: 24px;
}

html[data-theme="dark"] .icon {
  fill: rgba(255, 255, 255, 0.85);
  width: 24px;
}

.cardContainer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}
