.todolist {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.todolist h1 {
  text-align: center;
}

.todolist h2 {
  margin-top: 20pt;
  text-align: center;
}

.cardContainer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.sortBySelect {
  display: inline-block;
}

.downloadLink {
  position: absolute;
  right: 10%;
}

@media screen and (max-width: 768px) {
  .downloadLink {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    text-align: center;
    max-width: 180px;
    display: block;
  }
}
