.todo {
  border-top: 5px solid rgb(255, 59, 48);
}

html[data-theme='dark'] .todo {
  border-top: 5px solid rgb(255, 69, 58);
}

.done {
  border-top: 5px solid rgb(52, 199, 89);
}

html[data-theme='dark'] .done {
  border-top: 5px solid rgb(48, 209, 88);
}
