.CardContainer {
  column-count: 3;
  column-gap: 1.25rem;
}

@media screen and (max-width: 768px) {
  .CardContainer {
    column-count: 2;
    column-gap: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .CardContainer {
    column-count: 1;
    column-gap: 1.25rem;
  }
}

.wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
